<!DOCTYPE html>
<html>

    <head>

  <script src= 
"https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> 
    </script> 
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

 

<!-- bootrap cdn-->

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">





	<script src="/js/ren.js"></script>




<style>

.form-elegant .font-small {
font-size: 0.8rem; }

.form-elegant .z-depth-1a {
-webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
-webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }





</style>






    </head>
   

<body ng-app="myApp" ng-controller="myCtrl" data-ng-init="onrun()">


    {{> header}}











<!-- Extended material form grid -->
<form>
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
    <div class="md-form">
  <input type="text" id="transport" class="form-control">
  <label for="transport">Transport</label>
</div>
    </div>
    <!-- Grid column -->


    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
    <div class="md-form">
  <input type="text" id="agent" class="form-control">
  <label for="agent">Agent</label>
</div>
    </div>
    <!-- Grid column -->



 


   <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
    <div class="md-form">
  <input type="text" id="vechicle" class="form-control">
  <label for="vechicle">vechicle no</label>
</div>
    </div>
    <!-- Grid column -->





  </div>
  <!-- Grid row -->


 <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
    <div ng-controller="myCtrl as ctrl" layout="column" ng-cloak="" class="autocompletedemoFloatingLabel" ng-app="MyApp">

        <md-autocomplete flex="" required="" md-input-name="autocompleteField" md-input-minlength="2" md-input-maxlength="18" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.companyname" md-require-match="" md-floating-label="Company name" input-aria-describedby="favoriteStateDescription"  md-selected-item-change="ctrl.selectedItemChange(item)" >
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" >{[{item.companyname}]}</span>
          </md-item-template>
          <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
            <div ng-message="required">You <b>must</b> have a favorite state.</div>
            <div ng-message="md-require-match">Please select an existing state.</div>
            <div ng-message="minlength">Your entry is not long enough.</div>
            <div ng-message="maxlength">Your entry is too long.</div>
          </div>
        </md-autocomplete>
 
        </p>
      </div>
    </form>
  </md-content>
</div>



   
    <!-- Grid column -->


    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
    <div class="md-form">
  <input type="text" id="phone" class="form-control">
  <label for="phone">Phone</label>
</div>
    </div>
    <!-- Grid column -->



 


   <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
    <div class="md-form">
  <input type="text" id="GST" class="form-control" ng-model="model.gstnumber">
  <label for="GST">GST</label>
</div>
    </div>
    <!-- Grid column -->





  </div>
  <!-- Grid row -->
































  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="inputAddressMD" >
        <label for="inputAddressMD">Address</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="inputAddress2MD" >
        <label for="inputAddress2MD">Address 2</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="inputCityMD" >
        <label for="inputCityMD">City</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="State" >
        <label for="state">State</label>
      </div>
    </div>
    <!-- Grid column -->



    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="inputZipMD" >
        <label for="inputZipMD">Zip</label>
      </div>
    </div>
    <!-- Grid column -->






  </div>
  <!-- Grid row -->
  <button class="btn btn-primary btn-md" ng-click="blast()">Sign in</button>
</form>
<!-- Extended material form grid -->












<form  id="client" ng-submit="clogin()">

 {{> clientinput}}

</form>




<div class="text-center">
  <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalContactForm">Launch
    Modal Contact</a>
</div>









   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>





<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>












</body>


















</html>
